@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.Container{
    width: 80%;
    background: #FFFFFF;
    border-bottom: 0.5px solid #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#logo{
    cursor: pointer;
    height: 30px;
    width: 30px;
}


.navicontent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation li a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'outfit';
    font-weight: 600;
    color: #010038;
}
.navigation ul{
    display: flex;
    
}
.navigation ul li{
    display: flex;
    list-style-type: none;
    margin: 0 40px;
}

.contact a{
    text-decoration: none;
    font-size: 16px;
    background-color: #615EFC;
    color: #FFFFFF;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: 'outfit';
}



.firstPage{
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}
.Container{
    background:none;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    padding: 50px 0;
}
.contentofpage1{
    padding: 10px;
    margin: 10px 0px;
}
.HeroHeadingH p{
    font-size: 5rem;
    font-family: 'outfit';
    font-weight: 500;
    margin: 20px 0px;
    color: #615EFC;
}
.SubHeadingp{
    font-size: 18px;
    font-family: 'outfit';

}
#learnMore-btn{
    background-color: #615EFC;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 14px;
    margin: 10px 0;
}


.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 50px 0;
    margin: 0;
}
.contentofpage2{
    padding: 10px;
}
.contentofPage2 h2{
    font-family: 'outfit';
    font-size: 34px;
    color: #010038;
}
.contentofPage2 p{
    font-family: 'outfit';
    font-size: 16px;
}
#choose{
    margin-left: 150px;
}
.thirdPage{
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}
.contentofpage3{
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.contentofpage3 h1{
    font-size: 3rem;
    font-family: 'outfit';
    font-weight: bold;
    margin-right: 200px;
    color: #010038;
}
.contentofpage3 p{
    font-size: 18px;
    font-family: 'outfit';
    font-weight: 400;
}

.container4{
    width: 100%;
    display: flex;
    padding: 50px 0;
}

.contentofpage4 h1{
    font-family: 'outfit';
    font-weight: 600;
}
.contentofpage4 p{
    font-family: 'outfit';
    font-weight: 400;
    color: #3b3b3b;
}
#container4Img{
    width: 40%;
    height: auto;
    margin-left: 150px;
}

.fifthPage{
    background-color: #F3F4F6;
}
.container5{
    width: 100%;
    display: flex;
    padding: 50px 0;
}
.contentofpage5{
    display: flex;
}
#container5Img{
    width: 50%;
    height: auto;
    margin-right: 50px;
}
.contentofpage5 h2{
    font-family: 'outfit';
    font-weight: 600;
}
.contentofpage5 p{
    font-family: 'outfit';
    font-weight: 400;
    color: #141414;
    padding: 2px 0;
    
}
.Container5txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.seventhPage{
    background-color: #FFFFFF;
}
.container7{
    width: 100%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
}
#container7Img{
    width: 100%;
}
.context7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'outfit';
}
.context7 h1{
    font-family: 'outfit';
    font-weight: 600;
}
.context7 p{
    color: #615EFC;
}

.eightPage{
    background-color: #F3F4F6;
}
.container8{
    padding: 50px 0;
}
.student{
    padding: 50px 0;
    font-family: 'outfit';
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content8{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.contentofpage8 h1{
    font-family: 'outfit';
    font-weight: 600;
    text-align: center;
}
.info{
    text-align: center;
}
.info .studentinfo{
    margin: 0;

}
.contenttxt{
    text-align: center;
    color: #141414;
}
.name{
    margin: 10px 0;
}
.student{
    margin: 0;
}
.star i{
    color: #eeff00;
}

.ninethPage{
    background: linear-gradient(180deg, rgba(127, 102, 249, 0.33) 0%, rgba(62, 212, 217, 0.27) 100%);
}
.content9{
    padding: 40px 0;
    width: 100%;
}

#Welcome{
    font-family: 'outfit';
    color: #615EFC;
    font-size: 3rem;
    text-align: center;
}

.footer{
    display: flex;
    background-color: #222831;
    color: #FFFFFF;
    font-family: 'outfit';
    font-weight: 400;
    
}

.footercontent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoFooter{
    height: 100px;
    opacity: 100%;
    cursor: pointer;
}

.group-1{
    padding: 40px 0;
    width: 560px;
    margin-right: 20px;
}
.group-2{
    padding: 40px;
}
.group-1 h3{
    font-size: 18px;
    font-weight: 400;
}
.group-1 p{
    font-size: 14px;
}
#emailFooter{
    font-size: 16px;
    padding: 14px;
    width: 400px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}
#Subscribe-btn{
    font-size: 16px;
    padding: 14px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background-color: #615EFC;
    cursor: pointer;
}

.group-2{
    display: flex;
    
}
.group-2 p{
    font-size: 14px;
}
.AboutUs{
    margin: 0 40px;
}

.Links{
    margin: 0 40px;
}

.FollowUs{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.FollowUs h3{
    margin-bottom: 5px;
}
.FollowUs i{
    padding: 10px 0;
}

.instagram{
    display: flex;
    align-items: center;
}
.instagram i{
    padding-right: 10px;
}
.facebook{
    display: flex;
    align-items: center;
}
.facebook i{
    padding-right: 10px;
}
.twitter{
    display: flex;
    align-items: center;
}
.twitter i{
    padding-right: 10px;
}
.discord{
    display: flex;
    align-items: center;
}
.discord i{
    padding-right: 10px;
}
.youtube{
    display: flex;
    align-items: center;
}
.youtube i{
    padding-right: 10px;
}



/*Copyrights Done*/
.copyright{
    color: #FFFFFF;
    background-color: #9392ff;
    padding: 4px;
}

.terms{
    display: flex;
    align-items: center;
}
.terms p{
    margin: 0 10px;
}




@media (max-width: 2560px){
    .navigation a{
        font-size: 18px;
        border-radius: 2px;
    }
    .navigation li a{
        font-size: 18px ;
    }
    .navigation ul li{
        margin: 0 50px;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    #logoFooter{
        width: 100px;
        height: 100px;
    }
    .HeroHeadingH p{
        font-size: 3rem;
    }
    .SubHeadingp{
        font-size: 18px;
    }
    #learnMore-btn{
        padding: 10px;
        font-size: 18px;
    }
   

    .container2{
        display: flex;
        height: max-content;
    }
    .contentofPage2 h2{
        font-size: 2rem;
    }
    .contentofPage2 p{
        font-size: 18px;
    }

    #choose{
        width: 600px;
        height: auto;
        margin-left: 30px;
    }

    .container3{
        height: max-content;
        width: 100%;
        
    }
    .contentofpage3{
        justify-content: space-between;
    }
    .contentofpage3 h1{
        font-size: 2rem;
        margin: 0;
        margin-right: 30px;
    }
    .contentofpage3 p{
        font-size: 18px;
    }

    .container4{
        height: fit-content;
        display: flex;
        align-items: center;
    }

    .contentofpage4 h1{
        font-size: 2rem;
        font-weight: 500;
        
    }
    .contentofpage4 p{
        font-size: 18px;
        
    }

    #container4Img{
        margin-left: 10px;
        width: 40%;
        margin-left: 40px;
    }

    .container5{
        height: fit-content;
    }

    #container5Img{
        width: 40%;
        height: auto;
        margin-right: 20px;
    }

    .Container5txt h2{
        font-size: 2rem;
        margin: 5px 0;
    }
    .Container5txt p{
        font-size: 18px;
        margin: 0;
    }

    .container7{
        height: fit-content;
    }
    .contentofpage7 h1{
        font-size: 2rem;
    }
    .contentofpage7 p{
        font-size: 18px;
    }


    .contentofpage8 h1{
        font-size: 2rem;
    }
    .info h4{
        font-size: 1.5rem;
        margin: 4px 0;
        font-weight: 500;
    } 
    .info p{
        font-size: 18px;
    }
    .contenttxt{
        font-size: 18px;
    }
    .star{
        font-size: 14px;
    }
    .student{
        padding: 50px;
    }
    .student img{
        height: 50px;
    }

    #Welcome{
        font-size: 4rem;
    }

  
    .group-1{
        width: 50%;
    }
    .group-2{
        padding: 40px 0;
    }
    .group-1 h3{
        font-size: 2rem;
        font-weight: 200;
    }
    .group-1 p{
        font-size: 18px;
        font-weight: 50;
    }

    #emailFooter{
        font-size: 2rem;
        padding: 14px;
        width: auto;
        border-radius: 4px;
    }
    #Subscribe-btn{
        font-size: 2rem;
        padding: 14px;
        border-radius: 4px;
    }
    .group-2{
        padding: 40px 0;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
   
    .group-2 h3{
        font-size: 2rem;
    }
    .group-2 p{
        font-size: 18px;
    }

    .AboutUs{
        margin: 0 30px;
    }
    .Links{
        margin: 0 30px;
    }
    .FollowUs{
        margin: 0 30px;
    }

    .copyright p{
        font-size: 18px;
    }

}


@media (max-width:1440px) {
    .navigation a{
        font-size: 16px;
        border-radius: 2px;
    }
    .navigation li a{
        font-size: 16px ;
    }
    .navigation ul li{
        margin: 0 20px;
    }
    #logo{
        width: 25px;
        height: 25px;
    }
    #logoFooter{
        width: 50px;
        height: 50px;
    }
    .HeroHeadingH p{
        font-size: 1.8rem;
    }
    .SubHeadingp{
        font-size: 14px;
    }
    #learnMore-btn{
        padding: 10px;
        font-size: 14px;
    }
   

    .container2{
        display: flex;
        height: max-content;
    }
    .contentofPage2 h2{
        font-size: 1.5rem;
    }
    .contentofPage2 p{
        font-size: 14px;
    }

    #choose{
        width: 300px;
        height: auto;
        margin-left: 10px;
    }

    .container3{
        height: max-content;
    }
    .contentofpage3 h1{
        font-size: 1.5rem;
        margin: 0;
        margin-right: 100px;
    }
    .contentofpage3 p{
        font-size: 14px;
    }

    .container4{
        height: fit-content;
        display: flex;
    }

    .contentofpage4 h1{
        font-size: 1.5rem;
        font-weight: 500;
        
    }
    .contentofpage4 p{
        font-size: 14px;
        
    }

    #container4Img{
        margin-left: 10px;
        width: 350px;
    }

    .container5{
        height: fit-content;
    }

    #container5Img{
        width: 350px;
        height: auto;
        margin-right: 20px;
    }

    .Container5txt h2{
        font-size: 1.5rem;
        margin: 5px 0;
    }
    .Container5txt p{
        font-size: 14px;
        margin: 0;
    }

    .container7{
        height: fit-content;
    }
    .contentofpage7 h1{
        font-size: 1.5rem;
    }
    .contentofpage7 p{
        font-size: 14px;
    }


    .contentofpage8 h1{
        font-size: 1.5rem;
    }
    .info h4{
        font-size: 18px;
        margin: 4px 0;
    } 
    .info p{
        font-size: 14px;
    }
    .contenttxt{
        font-size: 14px;
    }
    .star{
        font-size: 12px;
    }

    .student{
        padding: 30px;
    }
    .student img{
        height: 50px;
    }

    #Welcome{
        font-size: 1.5rem;
    }

  
    .group-1{
        width: 50%;
    }
    .group-2{
        padding: 40px 0;
    }
    .group-1 h3{
        font-size: 1.5rem;
        font-weight: 200;
    }
    .group-1 p{
        font-size: 14px;
        font-weight: 50;
    }

    #emailFooter{
        font-size: 1.5rem;
        padding: 12px;
        width: auto;
        border-radius: 4px;
    }
    #Subscribe-btn{
        font-size: 1.5rem;
        padding: 12px;
        border-radius: 4px;
    }
    .group-2{
        padding: 20px 0;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
   
    .group-2 h3{
        font-size: 1.5rem;
    }
    .group-2 p{
        font-size: 14px;
    }

    .AboutUs{
        margin: 0 20px;
    }
    .Links{
        margin: 0 20px;
    }
    .FollowUs{
        margin: 0 20px;
    }

    .copyright p{
        font-size: 14px;
    }

}

@media (max-width:1024px) {
    .navigation a{
        font-size: 14px;
        border-radius: 2px;
    }
    .navigation li a{
        font-size: 14px ;
    }
    .navigation ul li{
        margin: 0 10px;
    }
    #logo{
        width: 25px;
        height: 25px;
    }
    #logoFooter{
        width: 50px;
        height: 50px;
    }
    .HeroHeadingH p{
        font-size: 1.5rem;
    }
    .SubHeadingp{
        font-size: 12px;
    }
    #learnMore-btn{
        padding: 6px;
        font-size: 12px;
    }
    #lappy{
        width: 100%;
    }
   

    .container2{
        display: flex;
        height: max-content;
    }
    .contentofPage2 h2{
        font-size: 18px;
    }
    .contentofPage2 p{
        font-size: 10px;
    }

    #choose{
        width: 200px;
        height: auto;
        margin-left: 10px;
    }

    .container3{
        height: max-content;
    }
    .contentofpage3 h1{
        font-size: 14px;
        margin: 0;
        margin-right: 30px;
    }
    .contentofpage3 p{
        font-size: 12px;
    }

    .container4{
        height: fit-content;
        display: flex;
    }

    .contentofpage4 h1{
        font-size: 14px;
        font-weight: 500;
        
    }
    .contentofpage4 p{
        font-size: 12px;
        
    }

    #container4Img{
        margin-left: 10px;
        width: 250px;
    }

    .container5{
        height: fit-content;
    }

    #container5Img{
        width: 250px;
        height: auto;
        margin-right: 20px;
    }

    .Container5txt h2{
        font-size: 14px;
        margin: 5px 0;
    }
    .Container5txt p{
        font-size: 12px;
        margin: 0;
    }

    .container7{
        height: fit-content;
    }
    .contentofpage7 h1{
        font-size: 14px;
    }
    .contentofpage7 p{
        font-size: 12px;
    }


    .contentofpage8 h1{
        font-size: 14px;
    }
    .info h4{
        font-size: 14px;
        margin: 4px 0;
    } 
    .info p{
        font-size: 12px;
    }
    .contenttxt{
        font-size: 12px;
    }
    .star{
        font-size: 10px;
    }

    .student img{
        height: 25px;
    }

    #Welcome{
        font-size: 16px;
    }

  
    .group-1{
        width: 50%;
    }
    .group-2{
        padding: 40px 0;
    }
    .group-1 h3{
        font-size: 10px;
        font-weight: 200;
    }
    .group-1 p{
        font-size: 8px;
        font-weight: 50;
    }

    #emailFooter{
        font-size: 8px;
        padding: 6px;
        width: 90px;
        border-radius: 1px;
    }
    #Subscribe-btn{
        font-size: 8px;
        padding: 6px;
        border-radius: 1px;
    }
    .group-2{
        padding: 40px 0;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .group-2 i{
        display: none;
    }
    .group-2 h3{
        font-size: 10px;
    }
    .group-2 p{
        font-size: 8px;
    }

    .AboutUs{
        margin: 0 10px;
    }
    .Links{
        margin: 0 10px;
    }
    .FollowUs{
        margin: 0 10px;
    }

    .copyright p{
        font-size: 8px;
    }

}




@media (max-width:768px) {
    .navigation a{
        font-size: 14px;
        border-radius: 2px;
    }
    .navigation li a{
        font-size: 14px ;
    }
    .navigation ul li{
        margin: 0 10px;
    }
    #logo{
        width: 25px;
        height: 25px;
    }
    #logoFooter{
        width: 50px;
        height: 50px;
    }
    .HeroHeadingH p{
        font-size: 1.5rem;
    }
    .SubHeadingp{
        font-size: 12px;
    }
    #learnMore-btn{
        padding: 6px;
        font-size: 12px;
    }
    #lappy{
        width: 100%;
    }

    .container2{
        display: flex;
        height: max-content;
    }
    .contentofPage2 h2{
        font-size: 18px;
    }
    .contentofPage2 p{
        font-size: 10px;
    }

    #choose{
        width: 200px;
        height: auto;
        margin-left: 10px;
    }

    .container3{
        height: max-content;
    }
    .contentofpage3 h1{
        font-size: 12px;
        margin: 0;
        margin-right: 30px;
    }
    .contentofpage3 p{
        font-size: 10px;
    }

    .container4{
        height: fit-content;
        display: flex;
    }

    .contentofpage4 h1{
        font-size: 14px;
        font-weight: 500;
        
    }
    .contentofpage4 p{
        font-size: 12px;
        
    }

    #container4Img{
        margin-left: 10px;
        width: 250px;
    }

    .container5{
        height: fit-content;
    }

    #container5Img{
        width: 250px;
        height: auto;
        margin-right: 20px;
    }

    .Container5txt h2{
        font-size: 14px;
        margin: 5px 0;
    }
    .Container5txt p{
        font-size: 12px;
        margin: 0;
    }

    .container7{
        height: fit-content;
    }
    .contentofpage7 h1{
        font-size: 14px;
    }
    .contentofpage7 p{
        font-size: 10px;
    }


    .contentofpage8 h1{
        font-size: 12px;
    }
    .info h4{
        font-size: 12px;
        margin: 4px 0;
    } 
    .info p{
        font-size: 10px;
    }
    .contenttxt{
        font-size: 10px;
    }
    .star{
        font-size: 8px;
    }

    .student img{
        height: 25px;
    }

    #Welcome{
        font-size: 16px;
    }

  
    .group-1{
        width: 50%;
        margin-right: 50px;
    }
    .group-2{
        padding: 40px 0;
    }
    .group-1 h3{
        font-size: 10px;
        font-weight: 200;
    }
    .group-1 p{
        font-size: 8px;
        font-weight: 50;
    }

    #emailFooter{
        font-size: 8px;
        padding: 6px;
        width: 90px;
        border-radius: 1px;
    }
    #Subscribe-btn{
        font-size: 8px;
        padding: 6px;
        border-radius: 1px;
    }
    .group-2{
        padding: 40px 0;
        width: 50%;
    }
    .group-2 i{
        display: none;
    }
    .group-2 h3{
        font-size: 10px;
    }
    .group-2 p{
        font-size: 8px;
    }

    .AboutUs{
        margin: 0 10px;
    }
    .Links{
        margin: 0 10px;
    }
    .FollowUs{
        margin: 0 10px;
    }

    .copyright p{
        font-size: 8px;
    }
}


@media (max-width:425px) {
    .navigation a{
        font-size: 10px;
        border-radius: 2px;
    }
    .navigation li a{
        font-size: 10px ;
    }
    .navigation ul li{
        margin: 0 4px;
    }
    .container1{
        text-align: center;
        height: max-content;
    }
    #logo{
        width: 25px;
        height: 25px;
    }
    #logoFooter{
        width: 50px;
        height: 50px;
    }
    .HeroHeadingH p{
        font-size: .5rem;
    }
    .SubHeadingp{
        font-size: 6px;
    }
    #learnMore-btn{
        padding: 4px;
        font-size: 6px;
    }
    #lappy{
        display: none;
    }

    .container2{
        display: flex;
        height: max-content;
    }
    .contentofPage2 h2{
        font-size: 12px;
    }
    .contentofPage2 p{
        font-size: 8px;
    }

    #choose{
        width: 150px;
        height: auto;
        margin: 0;
    }

    .container3{
        height: max-content;
    }
    .contentofpage3 h1{
        font-size: 12px;
        margin: 0;
        margin-right: 30px;
    }
    .contentofpage3 p{
        font-size: 8px;
    }

    .container4{
        height: fit-content;
        display: flex;
    }

    .contentofpage4 h1{
        font-size: 12px;
        font-weight: 400;
        
    }
    .contentofpage4 p{
        font-size: 8px;
        
    }

    #container4Img{
        margin-left: 4px;
        width: 150px;
    }

    .container5{
        height: fit-content;
    }

    #container5Img{
        width: 150px;
        height: auto;
        margin-right: 20px;
    }

    .Container5txt h2{
        font-size: 10px;
        margin: 5px 0;
    }
    .Container5txt p{
        font-size: 8px;
        margin: 0;
    }

    .container7{
        height: fit-content;
    }
    .contentofpage7 h1{
        font-size: 12px;
    }
    .contentofpage7 p{
        font-size: 8px;
    }


    .contentofpage8 h1{
        font-size: 12px;
    }
    .info h4{
        font-size: 9px;
        margin: 4px 0;
        font-weight: 300;
    } 
    .info p{
        font-size: 8px;
    }
    .contenttxt{
        font-size: 6px;
    }
    .star{
        font-size: 6px;
    }
    .student{
        padding: 10px;
    }
    .student img{
        height: 25px;
    }

    #Welcome{
        font-size: 16px;
    }

    .group-1{
        width: 50%;
        margin: 0px;
    }
    .group-2{
        padding: 40px 0;
    }
    .group-1 h3{
        font-size: 10px;
        font-weight: 200;
    }
    .group-1 p{
        font-size: 8px;
        font-weight: 50;
    }

    #emailFooter{
        font-size: 8px;
        padding: 6px;
        width: 90px;
        border-radius: 1px;
    }
    #Subscribe-btn{
        font-size: 8px;
        padding: 6px;
        border-radius: 1px;
    }
    .group-2{
        padding: 40px 0;
        width: 50%;
    }
    .group-2 i{
        display: none;
    }
    .group-2 h3{
        font-size: 6px;
    }
    .group-2 p{
        font-size: 6px;
    }

    .AboutUs{
        margin: 0 10px;
    }
    .Links{
        margin: 0 10px;
    }
    .FollowUs{
        margin: 0 10px;
    }

    .copyright p{
        font-size: 8px;
    }
}


@media (max-width:375px) {
    .navigation a{
        font-size: 8px;
        border-radius: 2px;
    }
    .navigation li a{
        font-size: 8px ;
    }
    .navigation ul li{
        margin: 0 4px;
    }
    .container1{
        text-align: center;
        height: max-content;
    }
    #logo{
        width: 20px;
        height: 20px;
    }
    #logoFooter{
        width: 40px;
        height: 40px;
    }
    .HeroHeadingH p{
        font-size: .5rem;
    }
    .SubHeadingp{
        font-size: 6px;
    }
    #learnMore-btn{
        padding: 4px;
        font-size: 6px;
    }
    #lappy{
        display: none;
    }

    .container2{
        display: flex;
        height: max-content;
    }
    .contentofPage2 h2{
        font-size: 10px;
    }
    .contentofPage2 p{
        font-size: 6px;
    }

    #choose{
        width: 150px;
        height: auto;
        margin: 0;
    }

    .container3{
        height: max-content;
    }
    .contentofpage3 h1{
        font-size: 12px;
    }
    .contentofpage3 p{
        font-size: 8px;
    }

    .container4{
        height: fit-content;
        display: flex;
    }

    .contentofpage4 h1{
        font-size: 10px;
        font-weight: 400;
        
    }
    .contentofpage4 p{
        font-size: 5px;
        
    }

    #container4Img{
        margin-left: 4px;
        width: 150px;
    }

    .container5{
        height: fit-content;
    }

    #container5Img{
        width: 150px;
        height: auto;
        margin-right: 20px;
    }

    .Container5txt h2{
        font-size: 7px;
        margin: 5px 0;
    }
    .Container5txt p{
        font-size: 6px;
        margin: 0;
    }

    .container7{
        height: fit-content;
    }
    .contentofpage7 h1{
        font-size: 10px;
    }
    .contentofpage7 p{
        font-size: 8px;
    }


    .contentofpage8 h1{
        font-size: 12px;
    }
    .info h4{
        font-size: 8px;
        margin: 4px 0;
    } 
    .info p{
        font-size: 6px;
    }
    .contenttxt{
        font-size: 5px;
    }
    .star{
        font-size: 6px;
    }

    .student img{
        height: 25px;
    }

    #Welcome{
        font-size: 14spx;
    }
    
    .group-1{
        width: 50%;
        margin: 0px;
    }
    .group-1{
        padding: 20px 0;
    }
    .group-1 h3{
        font-size: 6px;
        font-weight: 200;
    }
    .group-1 p{
        font-size: 4px;
        font-weight: 50;
    }

    #emailFooter{
        font-size: 6px;
        padding: 6px;
        width: 70px;
        border-radius: 1px;
    }
    #Subscribe-btn{
        font-size: 6px;
        padding: 6px;
        border-radius: 1px;
    }
    .group-2{
        padding: 20px 0;
        width: 50%;
    }
    .group-2 i{
        display: none;
    }
    .group-2 h3{
        font-size: 5px;
    }
    .group-2 p{
        font-size: 4px;
    }

    .AboutUs{
        margin: 0 10px;
    }
    .Links{
        margin: 0 10px;
    }
    .FollowUs{
        margin: 0 10px;
    }

    .copyright p{
        font-size: 6px;
    }
}

@media (max-width:320px) {


    #emailFooter{
        font-size: 4px;
        padding: 6px;
        width: 70px;
        border-radius: 1px;
    }
    #Subscribe-btn{
        font-size: 4px;
        padding: 6px;
        border-radius: 1px;
    }

    #container5Img{
        margin-right: 6px;
    }

    .group-2{
        padding: 20px 0;
        width: 50%;
    }
    .group-2 i{
        display: none;
    }
    .group-2 h3{
        font-size: 4px;
    }
    .group-2 p{
        font-size: 4px;
    }

    .AboutUs{
        margin: 0 8px;
    }
    .Links{
        margin: 0 8px;
    }
    .FollowUs{
        margin: 0 8px;
    }
    .copyright p{
        font-size: 4px;
    }
}
